{% extends 'base.html.twig' %}

{% block title %}my shps
{% endblock %}

{% block body %}
	<section class="mt-10">
		<div
			class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4 ml-4">
			<!-- Order Summary -->
			<div class="bg-gray-800 p-6 rounded-lg shadow-lg">
				<h2 class="text-white text-2xl font-bold mb-4">Récapitulatif de la commande</h2>
				<ul class="space-y-4">


					{% for product in products %}
						<li class="flex justify-between items-center text-white">
							<img src="{{ asset('images/' ~ product.image) }}" alt="{{ product.nom }}" class="w-64 h-64 object-cover rounded">
							<div class="ml-4">
								<span class="block font-bold">{{ product.nom }}
								</span>
								<span class="block">Prix:
									{{ product.prix }}
									€</span>
								{% for key, item in cart %}
									{% if product.id == key %}
										<span class="mr-4">Quantité:
											{{ item }}</span>


									</div>
									<div class="flex items-center">
										<a href="{{ path('cart_mov', { id: product.id }) }}">
											<button class="bg-red-500 text-white px-2 py-1 rounded">-</button>
										</a>
										{{ item }}
										<a href="{{ path('cart_add', { id: product.id }) }}">
											<button class="bg-green-500 text-white px-2 py-1 rounded">+</button>
										</a>
									</div>
								</li>
							{% endif %}

						{% endfor %}
					{% endfor %}

				</ul>
			</div>

			<!-- Shopping Cart -->
			<div class="bg-gray-900 p-6 rounded-lg shadow-lg mr-4">
				<h2 class="text-white text-2xl font-bold text-center mb-4 ">Votre Panier</h2>
				<ul class="space-y-4 mr-4">
					{% for key, item in cart %}
						{% for product in products %}
							{% if product.id == key %}

								<li class="flex justify-between items-center text-white">
									<span>{{ product.nom }}</span>
									<span class="mr-4">Quantité:
										{{ item }}</span>
								</li>
							{% endif %}
						{% endfor %}
					{% endfor %}
					<li class="flex justify-between items-center text-white mr-4">
						<span>Montant</span>
						<span>{{ subtotal }}
							€</span>
					</li>						
					{% if codePromo %}

					<li class="flex justify-between items-center text-white mr-4">
						<span>reduction</span>
							<p>Code Promo:
								{{ codePromo }}</p>
							<p>Réduction:
								{{ reduction }}%</p>
						{% endif %}

					</li>
					<li class="flex justify-between items-center text-white font-bold mr-4">
						<span>Total</span>
						<span>{{ subtotal }}
							€</span>
					</li>
					{% if codePromo %}
						<li class="flex justify-between items-center text-white font-bold mr-4">
							<span>total apres reduction</span>
							<span> {{ total  }}
								€</span>
						</li>
					{% endif %}
				</ul>
			</ul>


			<div class="mt-4 mr-4">
				<h3 class="text-white text-xl font-bold mb-2">Adresse de livraison</h3>
				<input type="text" placeholder="Nom" class="w-full p-2 rounded mb-2 text-black">
				<input type="text" placeholder="Adresse" class="w-full p-2 rounded mb-2 text-black">
				<input type="text" placeholder="Ville" class="w-full p-2 rounded mb-2">
				<input type="text" placeholder="Code Postal" class="w-full p-2 rounded mb-4">
				<form method="post" action="{{ path('cart_show') }}">
					<input type="text" name="code_promo" placeholder="Code Promo" class="w-full p-2 rounded mb-4 text-black">
					<button type="submit" class="w-full bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded w-full">Valider Promo</button>
				</form>
				{% if cart %}
				
				<a href="{{ path('app_checkout', {total:subtotal}) }}"><button class="w-full bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded w-full">payer</button></a>
			{% endif %}</div>
		</div>
	</div>
</section>
{% endblock %}
