{% extends 'base.html.twig' %}
{% block title %}Log in!
{% endblock %}

{% block body %}
	<header class="bg-gradient-to-r from-green-400 to-blue-500 p-6">
		<h1 class="text-4xl font-bold text-center">Mon Profil</h1>
		<p class=" text-center text-2xl mt-2">Bienvenue sur votre Profil !</p>
		<a href="{{ path('app_produits') }}" class="text-xl hover:text-red-400">
			Retour</a>
	</header>
	<style>
		section {
			font-family: Arial, sans-serif;
			background-color: #1a1a1a;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			margin: 0;
		}
		.profile-card {
			background: linear-gradient(135deg, #6e8efb, #a777e3);
			border-radius: 15px;
			padding: 20px;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
			width: 300px;
			text-align: center;
		}
		.profile-card p {
			margin: 10px 0;
		}
		.profile-card p span {
			font-weight: bold;
		}
	</style>
	<section>
		<div class="profile-card">
			<p>
				<span>Email :</span>
				{{ app.user.email }}</p>
			<p>
				<span>Photo :</span>
				{% if app.user.informationuser and app.user.informationuser.photo %}
					<img src="{{ asset('images/profil/' ~ app.user.informationuser.photo) }}" alt="{{ app.user.informationuser.photo }}">
				{% else %}
					<img src="{{ asset('images/logobase.png') }}" alt="logobase">
				{% endif %}
			</p>

		
			<p>
				<span>Nom :</span>
				{% if app.user.informationuser and app.user.informationuser.Nom %}
					{{ app.user.informationuser.Nom }}
				{% else %}
					<input class="text-black" type="text" name="Nom" placeholder="Nom">
				{% endif %}
			</p>
			<p>
				<span>Prénom :</span>
				{% if app.user.informationuser and app.user.informationuser.prenom %}
					{{ app.user.informationuser.prenom }}
				{% else %}
					<input class="text-black" class="text-black" type="text" name="prenom" placeholder="Prénom">
				{% endif %}
			</p>
			<p>
				<span>Adresse :</span>
				{% if app.user.informationuser and app.user.informationuser.adresse %}
					{{ app.user.informationuser.adresse }}
				{% else %}
					<input class="text-black" type="text" name="adresse" placeholder="Adresse">
				{% endif %}
			</p>
			<p>
				<span>Code Postal :</span>
				{% if app.user.informationuser and app.user.informationuser.codepostal %}
					{{ app.user.informationuser.codepostal }}
				{% else %}
					<input class="text-black" type="text" name="codepostal" placeholder="Code Postal">
				{% endif %}
			</p>
			<p>
				<span>Ville :</span>
				{% if app.user.informationuser and app.user.informationuser.ville %}
					{{ app.user.informationuser.ville }}
				{% else %}
					<input class="text-black" type="text" name="ville" placeholder="Ville">
				{% endif %}
			</p>
			<a href="{{path('app_modifie_profil', {id: app.user.id})}}">Modifier</a>

		</section>
		


	{% endblock %}
