


{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
	<header class="bg-gradient-to-r from-green-400 to-blue-500 p-6">
			<h1 class="text-4xl font-bold text-center">Contactez Nous</h1>

			<p class="text-lg text-center mt-2">Reponse assure en moins de 48H</p>
		</header>
    <div class="max-w-md mx-auto bg-gray-800 p-6 rounded-lg shadow-lg">
        {{ form_errors(form) }}

        {{ form_start(form) }}
            <div class="mb-4">
                {{ form_row(form.nom, {
                    'attr': {'class': 'w-full p-2 bg-gray-700 border border-gray-600 rounded text-white placeholder-gray-400'},
                    'label_attr': {'class': 'text-sm font-semibold'}
                }) }}
            </div>
            
            <div class="mb-4">
                {{ form_row(form.email, {
                    'attr': {'class': 'w-full p-2 bg-gray-700 border border-gray-600 rounded text-white placeholder-gray-400'},
                    'label_attr': {'class': 'text-sm font-semibold'}
                }) }}
            </div>
            
            <div class="mb-4">
                {{ form_row(form.message, {
                    'attr': {'class': 'w-full p-2 bg-gray-700 border border-gray-600 rounded text-white placeholder-gray-400'},
                    'label_attr': {'class': 'text-sm font-semibold'}
                }) }}
            </div>

            <button type="submit" class="w-full bg-green-500 hover:bg-green-600 text-white py-2 rounded mt-4">Envoyer</button>
        {{ form_end(form) }}
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}


